@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
// font-family: 'Kanit', sans-serif;

// Variabel
@images: "../images";
@roboto: 'Roboto', sans-serif;
@opensans: 'Open Sans', sans-serif;
@color_dark : #f71015;
@color_red: #f71015;


body{
	background-color: #ececec !important;
	color: #898989;
	font-family: @opensans;
}

.container{
  max-width: 1320px
}

.box-login-outers{
	margin-top: 3em;
	background-color: #fff;
	-webkit-box-shadow: 12px 12px 30px 0px rgba(78, 78, 78, 0.2);
	-moz-box-shadow:    12px 12px 30px 0px rgba(78, 78, 78, 0.2);
	box-shadow:         12px 12px 30px 0px rgba(78, 78, 78, 0.2);
	position: relative; z-index: 2;
	.banner-login{}
	
	.card{
		background: none; border:0px;
		padding-top: 5em;
		.card-header{
			background: none; border:0px;
		}
		.card-body{
			border:0px;
			form{
				margin-bottom: 0;
				color: #9c9c9c;
				.form-check-label{
					color: #9c9c9c;
				}
				input{
					border-radius: 0px; border: 1px solid #9c9c9c;
					font-size: 16px; font-weight: 400; color: #898989;
				}
				button.btn{
					background: none; background-color: transparent; border-radius: 0px; box-shadow: none;

					color: #fff; background-color: #08523d;
					font-size: 14px; font-weight: 600;
					padding-left: 3.5em; padding-right: 3.5em;
				}
			}
		}
		clear: both;
	}
	clear: both;
}

@media (max-width: 767px) {
	
	.box-login-outers .card{
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.box-login-outers{
		margin-top: 2em;
		padding-top: 0em;
	}

}